.page-container {
  border: 1px solid black;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 1rem auto;
  padding: 16px;
}

.no-filters-label {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
